:root{
    --light-gris: #dbe5bb;
    --light-opaque: #e0e09d;
    --light-brown: #d9c384;
    --light-brown-2: #c5a449;
    --light-brown-dark: #d9a87d;
    --light-rosa-opaque:#dc9590;
    --light-rosa-opaque-2:#b4716c;
    --gray-model:rgb(94, 91, 91);
    --dark-1:#000000;
    --dark-2:#11171a;
    --dark-3:#222f2a;
    --dark-blue-gray:#374453;
    --dark-blue-gray-2:#4a5f77;

    --dark-gray:#6a7986;
    --dark-blur:#183352;
    --dark-blur-2:#254d7a;

    --borde: 1px solid black;
    --font-guill:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: var(--light-gris);
    display: flex;
}

header{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.logo{
    width: 50%;
    display: block;
    margin: 10% auto;
}
.contenedor-toggle{
    border: var(--borde);
    border-radius: 20px;
    display: flex;
    padding: 5px;
    width: 50%;
    margin: 0 auto;
}
#toggle{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor:pointer;
    display: flex;
    transition: .36s;
}
.theme{
    width: 100%;
}
.container{
    width: 100%;
    display: flex;
    height: 95vh;
}

section{
    padding: 5%;
}
.main{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.textArea{
    width: 100%;
    height: 80%;
}
textarea{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-family:var(--font-guill);
    font-size:2vw;
    resize: none;
}
.informativo{
    display: flex;
    gap: 15px;
    font-family: var(--font-guill);
    color: rgb(161, 159, 159);
}
.botones{
    display: flex;
    justify-content:space-around;
    font-family: var(--font-guill);
}
.botones>button{
    width:40% ;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
#encriptar{
    background-color: var(--light-brown);
    border: none;
    color: black;
    font-size: 1vw;
}

#desencriptar{
    background-color:var(--light-rosa-opaque);
    border: none;
    color: black; 
    font-size: 1vw;
}

#encriptar:hover{
    background-color: var(--light-brown-2);
    padding: 25px;
    width: 43%;
    font-size: 1.4vw;
}
#desencriptar:hover{
    background-color: var(--light-rosa-opaque-2);
    padding: 25px;
    width: 43%;
    font-size: 1.4vw;
}

.result{
    width: 26vw;
    border-radius: 25px;
    background-color: var(--light-opaque);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family:var(--font-guill);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.output{
    display: none;
    color: var(--gray-model);
    max-height: 80%;
    font-size: 1.7vw;
}
.vision{
    text-align: center;
}
.muñeco{
    width: 100%;
}
.vision>p{
    color: var(--gray-model);
}
#muñeco{
    width: 100%;
    margin: auto;
}
#copiar{
    width: 100%;
    padding: 20px;
    border: 1px solid #868a79;
    border-radius: 24px;
    background-color: var(--light-gris);
    font-size: 1vw;
    cursor: pointer;
    transition: .3s;
    display: none;
}

#copiar:hover{
    font-size: 1.4vw;
}

@media (max-width:1000px){
    body{
        display: block;
    }
    header{
        width: 100%;
        display: flex;
        margin: 4vh 0;
        flex-direction: row;
    }
    .logo{
        width: 20%;
        margin: 0px;
    }
    .contenedor-toggle{
        width: 23%;
        height: 50px;
        margin: auto 30px;
        border-radius: 40px;
    }
   #toggle{
        width: 40px;
        height: 40px;
        margin-top: auto ;
        margin-bottom: auto ;
   }
    .container{
        display: block;
        height: 100%;
    }
    .main{
        width: 90%;
        display: block;
    }
    .textArea{
        height: 60%;
    }
    .iconoInformativo{
        width: 30px;
    }
    textarea{
        height: 50vh;
        font-size: 5vw;
    }
    .botones{
        margin-top: 2vh;
        justify-content: space-between;
    }
    .botones>button{
        width: 48%;
    }
    #encriptar {
        font-size: 2.8vw;
    }
    #desencriptar {
        font-size: 2.8vw;
    }
    #encriptar:hover{
        padding: 10px;
        width: 48%;
        font-size: 3.7vw;
    }
    #desencriptar:hover{
        padding: 10px;
        width: 48%;
        font-size: 3.7vw;
    }
    #copiar{
        font-size: 3vw;
    }
    #copiar:hover{
        font-size: 4.1vw;
    }
    .informativo{
        font-size: 3vw;
    }
    .result{
        width: 80%;
        margin: 2vh auto;
        padding: 2% 5%;
    }
    .output{
        font-size: 4.5vw;
    }

    .vision>figure{
        display: none;
    }
    .vision{
        font-size: 2.8vw;
    }
}

@media (max-width:500px){
    header{
        width: 100%;
        display: flex;
        margin: 4vh 0;
        flex-direction: row;
    }
    .logo{
        width: 25%;
    }
    .contenedor-toggle{
        width: 25%;
        height: 25px;
        margin: auto 30px;
        border-radius: 40px;
    }
   #toggle{
        width: 20px;
        height: 20px;
        margin-top: auto ;
        margin-bottom: auto ;
   }
    textarea{
        font-size: 8vw;
    }
    .iconoInformativo{
        width: 20px;
    }
    .informativo{
        font-size:5vw;
    }
    .botones{
        display: block;
    }
    .botones>button{
        width: 100%;
        margin: 1.5vh 0;
    }
    #encriptar{
        font-size: 4.5vw;
    }
    #desencriptar{
        font-size: 4.5vw;
    }
    #encriptar:hover{
        padding: 20px;
        width: 100%;
        font-size: 5.7vw;
    }
    #desencriptar:hover{
        padding: 20px;
        width: 100%;
        font-size: 5.7vw;
    }
    .vision{
        font-size: 5vw;
    }
    #copiar{
        font-size: 4.5vw;
    }
    #copiar:hover{
        padding: 20px;
        font-size: 7.4vw;
    }
    .output{
        font-size: 7vw;
    }
}